<div class="accordion" [ngClass]="{ expanded: expanded, collapsed: !expanded, disabled: isDisabled }">
  <div class="accordion-header" (click)="toggle()">
    <h3>{{ title }}</h3>
    <div class="additional-row" *ngIf="shouldShowAdditionalText">
      <span class="additional-text">View Proposal Outline</span>
      <img src="assets/images/icons/down-arrow.png" alt="Toggle" class="toggle-icon" [ngClass]="{ disabled: isDisabled }" />
    </div>
    <ng-container class="additional-row" *ngIf="!shouldShowAdditionalText">
      <img src="assets/images/icons/down-arrow.png" alt="Toggle" class="toggle-icon" [ngClass]="{ disabled: isDisabled }" />
    </ng-container>
  </div>
  <div class="accordion-content" *ngIf="expanded">
    <ng-content></ng-content>
  </div>
</div>
