<div class="container">
  <div class="content-wrapper">
    <div class="header">
      <span>Cover Image</span>
      <span>Your Company Logo</span>
    </div>
    <div class="content-info">
      <img src="assets/images/pictures/cover-img.png" alt="Cover image" />
      <div class="content">
        <img src="assets/images/pictures/audio-video.png" alt="Audio Video" />
        <div class="text">
          <input type="checkbox" />
          <span class="info">Show Company Address (from <span class="settings">Settings</span>)</span>
        </div>
      </div>
    </div>
  </div>
</div>
