@use '../../shared/sass/colors.scss' as *;

.client-data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .data-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .client-details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .client-details {
      width: 48%;
      background-color: $app-light-gray;
      border-radius: 10px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
          color: $app-gray-text;
          font-size: 12px;
          font-weight: 400;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;
        gap: 3px;

        :first-child {
          color: $app-black-text;
          font-size: 14px;
          font-weight: 700;
        }

        :nth-child(2) {
          color: $app-black-text;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
