<div class="container">
  <app-sidebar></app-sidebar>
  <div class="app-wrapper">
    <app-header></app-header>
    <div class="wrapper">
      <app-client-info></app-client-info>
      <app-overview-section></app-overview-section>
      <div class="title-info">
        <span>Areas & Items</span>
        <span class="badge">+ New Area</span>
      </div>
      <app-areas-items title="Living room"></app-areas-items>
      <app-areas-items title="Dining room"></app-areas-items>
      <app-areas-items title="Breakfast Nook"></app-areas-items>
    </div>
  </div>
</div>
