<div class="container">
  <div class="wrapper">
    <img class="logo" src="assets/images/pictures/Portal-logo 1.png" alt="logo" />

    <img class="nav-items" src="assets/images/pictures/nav1.png" alt="logo" />
    <img class="nav-items" src="assets/images/pictures/nav2.png" alt="logo" />
    <img class="nav-items" src="assets/images/pictures/nav3.png" alt="logo" />
    <img class="nav-items" src="assets/images/pictures/nav4.png" alt="logo" />
    <img class="nav-items" src="assets/images/pictures/nav5.png" alt="logo" />
    <img class="nav-items" src="assets/images/pictures/nav6.png" alt="logo" />
  </div>
</div>
