<div class="container">
  <div class="content">
    <span class="badge">CLIENT DESCRIPTION</span>
    <p>
      Schrute Farms Bed & Breakfast has engaged Electric City Smart Homes to bring this rustic, popular tourist attraction out of 19th Century Germany
      and into 21st Century technology. Particular attention will be made for incorporating modern technology in respect of the historical aesthetic
      that lends such charm to this beautiful property./>
    </p>
    <p>
      Please note that most of the products spec'd on this project make use of wireless technology, as the Activities Director for Schrute Farms
      removed all of the wiring on the property.
    </p>
    <p class="title">Audio & Video</p>
    <p class="custom">
      Easy to use Sonos audio players are strategically located throughout the house for the convenience of guests and for your own personal
      entertainment. In keeping with the aesthetic integrity of the property, Leon ToneCase products are utilized in perfect harmony to make the
      technology as discreet as possible.
    </p>
    <p class="title">Security & Surveillance</p>
    <p class="custom">
      Cameras located throughout the property will ward off and capture those pesky teenagers sneaking onto the farm for horseplay. Access Control
      will give you complete control over your front door and the Goat Pen.
    </p>
    <p class="title">Network Infrastructure</p>
    <p class="custom">
      Your guests will experience lightening fast Internet access with the new Eero infrastructure, which leverages mesh technology due to the
      aforementioned lack of wiring on the property.
    </p>
    <span class="ending">Add Internal / Installer Notes</span>
  </div>
</div>
